<div class="m-alert success subscribe js-alert" data-notification="subscribe">
  {{block "subscribeSuccessLabel"}}
  <button class="m-alert__close js-notification-close" aria-label="{{block "closeLabel"}}">
    <span class="icon-close"></span>
  </button>
</div>

<div class="m-alert success signup js-alert" data-notification="signup">
  {{block "completeCheckoutLabel"}}
  <button class="m-alert__close js-notification-close" aria-label="{{block "closeLabel"}}">
    <span class="icon-close"></span>
  </button>
</div>

<div class="m-alert success signin js-alert" data-notification="signin">
  {{block "welcomeBackLabel"}}
  <button class="m-alert__close js-notification-close" aria-label="{{block "closeLabel"}}">
    <span class="icon-close"></span>
  </button>
</div>

<div class="m-alert success checkout js-alert" data-notification="checkout">
  {{block "accountActivatedLabel"}}
  <button class="m-alert__close js-notification-close" aria-label="{{block "closeLabel"}}">
    <span class="icon-close"></span>
  </button>
</div>