
{{#has tag="#kr" visibility="internal"}}
  <span>{{reading_time minute="1 분 읽기" minutes="% 분 읽기"}}</span>
{{else}}
  {{#has tag="#cn" visibility="internal"}}
    <span>{{reading_time minute="1分钟阅读" minutes="% 分钟阅读"}}</span>
  {{else}}
    {{#has tag="#jp" visibility="internal"}}
      <span>{{reading_time minute="1分読む" minutes="% 分読む"}}</span>
    {{else}}
      <span>{{reading_time minute="1 min read" minutes="% min read"}}</span>
    {{/has}}
  {{/has}}
{{/has}}
