
{{#has tag="#kr" visibility="internal"}}
  <span>{{reading_time minute="ko 1 min de lecture" minutes="% ko min de lecture"}}</span>
{{else}}
  {{#has tag="#cn" visibility="internal"}}
    <span>{{reading_time minute="cn 1 min de lecture" minutes="% cn min de lecture"}}</span>
  {{else}}
    {{#has tag="#jp" visibility="internal"}}
      <span>{{reading_time minute="jp 1 min de lecture" minutes="% jp min de lecture"}}</span>
    {{else}}
      <span>{{reading_time minute="1 min read" minutes="% min read"}}</span>
    {{/has}}
  {{/has}}
{{/has}}
